@import "./active-tags/active-tags.css";
@import "./search/search.css";

/** @define Header; */

.Header-content {
  color: var(--color-White);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.Header-new {
  margin-top: 3rem;
}
