<header class="IndexHeader">
  <div class="Header u-flex u-flex-col">
    <h1><a href="/">Notes</a></h1>
    <div class="Header-content u-flex-grow">
      {% include "./search/search.twig" with {query: query} only %}
      {% include "./topics/topics.twig" with {topics: topics} only %}
      {% include "./active-tags/active-tags.twig" with {tags: tags, activeTags: activeTags} only %}
    </div>
    <div class="Header-new">
      {% include "../button/button.twig" with {
        url: "/notes/new",
        label: "note.toggle"|t,
        modifiers: ["large", "primary"],
      } %}
    </div>
  </div>
</header>
