/** @define RichText; weak */

.RichText > * + *:not(.Note-copy) {
  margin-top: 1.5em;
}

.RichText h1,
.RichText h2,
.RichText h3,
.RichText h4,
.RichText h5,
.RichText h6,
.RichText strong,
.RichText b {
  font-weight: bold;
}

.RichText em,
.RichText i {
  font-style: italic;
}

.RichText pre {
  background: var(--color-RichText-bg);
  border: 0.1rem solid var(--color-RichText-border);
  overflow: hidden;
  position: relative;
}

.RichText pre code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  width: 100%;
}

.RichText ul,
.RichText ol {
  margin-left: 1.5em;
}
