@import "./reset.css";
@import "./common/button/button.css";
@import "./common/input/input.css";

@font-face {
  font-family: "Langar";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/langar-regular.woff2") format("woff2"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  --color-Primary: #9f2050;
  --color-Secondary: hsl(200, 82%, 12.5%);
  --color-Tertiary: #3e7e8e;
  --color-White: #fff;
  --color-Light-bright: #fbfcfc;
  --color-Light-medium: #ecf1f2;
  --color-Light-dark: #d1dddf;
  --color-Grey: #777;

  --color-Default: #000;
  --color-Content-bg: var(--color-Light-medium);
  --color-Card-bg: var(--color-White);
  --color-Card-text: var(--color-White);
  --color-Note-link: var(--color-Secondary);
  --color-Note-actionsList: var(--color-Secondary);
  --color-Note-createdAt: var(--color-Grey);
  --color-RichText-bg: var(--color-Light-bright);
  --color-RichText-border: var(--color-Light-dark);

  font-size: 62.5%;
}

@media (prefers-color-scheme: dark) {
  html {
    --color-Dark: hsl(200, 82%, 10%);
    --color-Light: hsl(200, 35%, 70%);

    --color-Default: var(--color-White);
    --color-Content-bg: var(--color-Dark);
    --color-Card-bg: hsl(200, 82%, 17.5%);
    --color-Note-link: var(--color-Light);
    --color-Note-actionsList: var(--color-Light);
    --color-Note-createdAt: var(--color-Light);
    --color-RichText-bg: hsl(200, 82%, 15%);
    --color-RichText-border: var(--color-Dark);
  }
}

body {
  color: var(--color-Default);
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

h1 {
  font-family: Langar, Helvetica, sans-serif;
  font-size: 4.8rem;
  font-weight: 400;
  text-align: center;
}

h1 a {
  text-decoration: none;
}

h1 a:hover,
h1 a:focus {
  text-decoration: underline;
}

h1 + form {
  margin-top: 2rem;
}

label {
  font-weight: 600;
}

input,
textarea {
  appearance: none;
  background: rgba(255, 255, 255, 0.9);
  border: 0.1rem solid rgba(255, 255, 255, 0.25);
  border-radius: none;
  box-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.3) inset;
  color: var(--color-Secondary);
  padding: 0.75em;
  width: 100%;
}

small {
  font-size: 0.875em;
}
