{% extends "html.twig" %}

{% block head %}
  <link rel="stylesheet" href="/assets/login.css">
{% endblock %}

{% block content %}
  <div class="Login u-flex-grow">
    <h1>Notes</h1>
    <form class="Login-form" action="/login" method="post">
      <div class="Input">
        <label class="Input-label" for="password">Password</label>
        <input class="Input-element" type="password" name="password" id="password" required>
      </div>
      <button class="Input Button Button--primary Button--large" type="submit">Login</button>
    </form>
  </div>
{% endblock %}
