@import "./header/header.css";
@import "./notes/notes.css";

.u-hiddenVisually {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

code {
  font-family: Menlo, Monaco, monospace;
  font-size: 0.875em;
}

.IndexHeader {
  background: var(--color-Secondary);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  color: var(--color-White);
  z-index: 1;
}

.Header {
  padding: 2rem 3rem 3rem;
}

.IndexMain {
  background: var(--color-Light-medium);
  flex: 1;
  padding: 3rem 3rem 0;
}

@media (max-width: 48em) {
  body {
    background: var(--color-Secondary);
    flex-direction: column;
  }

  .IndexHeader {
    position: relative;
  }
}

@media (min-width: 48.0625em) {
  body {
    background: var(--color-Light-medium);
  }

  .IndexHeader {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    flex: 0 0 32rem;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
  }

  .IndexHeader,
  .Header,
  .Tabs,
  .Tabs-tab:not([hidden]),
  .Add,
  .Add-text {
    display: flex;
    flex-direction: column;
  }

  .Header,
  .Tabs,
  .Tabs-tab,
  .Add,
  .Add-text {
    flex-grow: 1;
  }

  .Add-text .Input-element {
    height: 100%;
  }
}
