@import "./css/active-tags.css";
@import "./css/add.css";
@import "./css/delete-button.css";
@import "./css/filter-search.css";
@import "./css/list.css";
@import "./css/search.css";
@import "./css/tags.css";

.u-hiddenVisually {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

code {
  font-family: Menlo, Monaco, monospace;
  font-size: 0.875em;
}

.AddNote {
  background: var(--color-Secondary);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  color: var(--color-White);
  padding: 2rem 3rem 3rem;
}

.Content {
  flex: 0 1 75%;
}

.Main {
  overflow-x: auto;
}

table {
  border-spacing: 0;
  width: 100%;
}

thead {
  background: var(--color-Light);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

th,
td {
  color: inherit;
  padding: 1.5rem 1rem;
}

th {
  padding-block: 2rem;
}

th:first-child,
td:first-child {
  padding-left: 3rem;
}

th {
  font-weight: bold;
}

th:not(:last-child) {
  text-align: left;
}

td {
  border-block-end: 0.2rem solid var(--color-Light);
  vertical-align: top;
}

td:first-child {
  font-weight: 600;
}

.Note-actionsList {
  display: flex;
  justify-content: center;
  list-style: none;
}

.Note-actionsList > * + * {
  margin-inline-start: 1rem;
}

.RichText * + * {
  margin-top: 1.5em;
}

.RichText h1,
.RichText h2,
.RichText h3,
.RichText h4,
.RichText h5,
.RichText h6,
.RichText strong,
.RichText b {
  font-weight: bold;
}

.RichText em,
.RichText i {
  font-style: italic;
}

@media (max-width: 56em) {
  body {
    flex-direction: column;
  }
}

@media (min-width: 56.062em) {
  body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
  }

  .AddNote,
  .Content {
    height: 100%;
    overflow-y: auto;
  }

  .AddNote {
    flex: 1 0 25%;
    min-width: 32rem;
    resize: horizontal;
  }
}
