body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.Login {
  align-items: center;
  background: var(--color-Secondary);
  color: var(--color-White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.Login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
