/** @define Tags; */

.Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin-left: 0;
}

/** @define Tag; */

.Tag {
  border: 0.1rem solid;
  display: inline-block;
  font-weight: 600;
  padding: 0.15em 0.5em;
}
