/** @define Button; */

.Button {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0.3rem;
  box-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.25);
  display: block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  width: fit-content;
}

.Button:active {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2)
  );
}

.Button[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.Button[aria-checked] {
  background-color: var(--color-Light-medium);
  color: var(--color-Secondary);
}

.Button--small {
  font-size: 0.875em;
  padding: 0.15em 0.5em;
}

.Button--large:not(.Button--iconOnly) {
  padding: 0.75em 2em;
}

.Button--primary,
.Button--secondary {
  color: var(--color-White);
}

.Button--primary {
  background-color: var(--color-Primary);
}

.Button--secondary {
  background-color: #0d3e57;
}

.Button--tertiary {
  background-color: var(--color-White);
  color: var(--color-Secondary);
}

.Button--delete {
  align-items: center;
  display: flex;
  gap: 0.5em;
}

.Button--delete::after {
  background-color: currentColor;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%;
  content: "";
  display: block;
  height: 1em;
  width: 1em;
}

.Button--primary.Button--delete::after,
.Button--secondary.Button--delete::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 508 508'%3E%3Cpath d='M.002 67.876L67.878 0l439.986 439.986-67.876 67.876z'/%3E%3Cpath d='M.002 439.992L439.988.006l67.876 67.876L67.878 507.868z'/%3E%3C/svg%3E");
}

.Button--tertiary.Button--delete::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 508 508'%3E%3Cpath fill='%23fff' d='M.002 67.876L67.878 0l439.986 439.986-67.876 67.876z'/%3E%3Cpath fill='%23fff' d='M.002 439.992L439.988.006l67.876 67.876L67.878 507.868z'/%3E%3C/svg%3E");
}

.Button-amount {
  color: var(--color-Light-dark);
  font-weight: 400;
  margin-left: 0.25rem;
}

.Button[aria-checked] .Button-amount {
  color: var(--color-Grey);
}
