/** @define FilterSearch; */

.FilterSearch {
  background: var(--color-Secondary);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  color: var(--color-White);
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
