/** @define Input; */

.Input + .Input {
  margin-top: 2rem;
}

.Input-element {
  border-radius: 0.3rem;
  margin: 1rem 0 0;
}

.Input-element[aria-invalid] {
  background: #ffc4c4;
  border-color: red;
}
