@import "./css/reset.css";
@import "./css/button.css";
@import "./css/input.css";

@font-face {
  font-family: "Langar";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/langar-regular.woff2") format("woff2"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  --color-Primary: #9f2050;
  --color-Secondary: #062b3e;
  --color-Tertiary: #3e7e8e;
  --color-White: #fff;
  --color-Light: #ecf1f2;
  --color-Grey: #777;

  font-size: 62.5%;
}

body {
  background: var(--color-Secondary);
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100vh;

  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

h1 {
  font-family: Langar, Helvetica, sans-serif;
  font-size: 4.8rem;
  font-weight: 400;
  text-align: center;
}

h1 a {
  text-decoration: none;
}

h1 a:hover,
h1 a:focus {
  text-decoration: underline;
}

h1 + form {
  margin-top: 2rem;
}

label {
  font-weight: 600;
}

input,
textarea {
  appearance: none;
  background: rgba(255, 255, 255, 0.9);
  border: 0.1rem solid rgba(255, 255, 255, 0.25);
  border-radius: none;
  box-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.5) inset;
  color: var(--color-Secondary);
  padding: 0.75em;
  width: 100%;
}

input:focus,
textarea:focus {
  box-shadow: 0.2em 0.2em 0.25em rgba(0, 0, 0, 0.5) inset;
}

.u-flex-row {
  display: flex;
}

.u-flex-col {
  display: flex;
  flex-direction: column;
}

.u-flex-grow {
  flex: 1;
}
