{% set filter %}
  {% include "./filter-search/filter-search.twig" %}
{% endset %}

{% set add %}
  {% include "./add/add.twig" with {note: note} %}
{% endset %}

<div class="Header">
  <h1><a href="/">Notes</a></h1>
  {% include "./tabs/tabs.twig" with {
    tabs: [{
      alias: "filter",
      label: "index.filter"|t,
      content: filter,
      active: not note
    }, {
      alias: "add",
      label: "index.add"|t,
      content: add,
      active: note
    }]
  } %}
</div>
