<div class="Note">
  <div class="Note-content">
    <h2 class="Note-title">
      <a href="/notes/{{ id }}">{{ title }}</a>
    </h2>
    {% if url %}
    <p>
      <a class="Note-link" href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ url }}</a>
    </p>
    {% endif %}
    {% if text %}
    <div class="Note-text">
      {% include "../rich-text/rich-text.twig" with {text: text} %}
    </div>
    {% endif %}
  </div>
  {% if tags|length > 0 %}
    <div class="Note-footer">
      <div class="Note-tags">
        {% include "./tags/tags.twig" with {tags: tags} %}
      </div>
    </div>
  {% endif %}
</div>
