@import "../../../node_modules/simplemde/dist/simplemde.min.css";
@import "./tags/tags.css";

/** @define Note; */

.Note {
  background: var(--color-Card-bg);
  border-radius: 0.3rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.Note--full {
  padding: 3rem;
}

.Note-content:not(:last-child) {
  padding: 0 0 2rem;
}

.Note-text {
  position: relative;
}

.Note-topic {
  color: var(--color-Topic);
  font-size: 0.825em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.Note-copy {
  align-items: center;
  background: var(--color-RichText-border);
  display: flex;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes fadeOut {
  0% {
    max-width: 0;
    opacity: 0;
  }

  10% {
    max-width: 6ch;
    opacity: 1;
    padding-right: 0.5rem;
  }

  60% {
    max-width: 6ch;
    opacity: 1;
    padding-right: 0.5rem;
  }

  100% {
    max-width: 0;
    opacity: 0;
  }
}

.Note-copy.is-copied::before {
  animation: fadeOut 2.5s ease forwards;
  content: attr(data-label);
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  overflow: hidden;
}

.Note-copyIcon {
  fill: currentColor;
  height: 1em;
  width: 1em;
}

.Note-delete {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--color-Tertiary);
}

.Note-footer {
  border-top: 0.1rem solid var(--color-Light-dark);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 2rem;
}

.Note-tags {
  align-items: center;
  display: flex;
  font-size: 0.875em;
  gap: 1rem;
}

.Note-meta {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.Note-actionsList {
  color: var(--color-Note-actionsList);
  display: flex;
  font-size: 0.875em;
  font-weight: 600;
  grid-gap: 1rem;
  list-style: none;
  margin-left: auto;
}

.Note-createdAt {
  color: var(--color-Note-createdAt);
}

.Note-createdAt::before {
  content: "·";
  padding-right: 1rem;
}
