/** @define Input; */

.Input-element {
  background: var(--color-Light-bright);
  border-radius: 0.3rem;
  margin: 1rem 0 0;
}

.Input-element:focus {
  border-color: var(--color-Tertiary);
  outline: none;
}

.Input-element[aria-invalid] {
  background: #ffc4c4;
  border-color: red;
}

.Input-error {
  color: #ffc4c4;
  display: none;
  margin-block-start: 0.5rem;
}

.Input-element[aria-invalid] + .Input-error {
  display: block;
}
